@charset "utf-8";

/* CSS 속성 선언순서 : display, overflow, float, position, z-index, width & height, margin & padding, font, color, border, background, align, etc */

* {margin:0px; padding:0px;}
html {width:100%; height:100%; min-width: 320px; margin:0 auto; font-size: 10px;}
body{width: 100%; line-height: normal; min-width: 320px; margin:0 auto; color:#3c3c3c; font-size: 1.2rem; font-family: "Noto Sans KR",sans-serif,"돋움","Dotum"; font-weight: 500;background-color:#fcfcfc; -moz-text-size-adjust:none; -o-text-size-adjust:none;}

body *{box-sizing: border-box;}
/*Reset*/
h1, h2, h3, h4, h5, h6 ,h7 {font-weight:500;}
img {border:none; vertical-align:middle; max-width: 100%;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {border-collapse:collapse; border-spacing:0px;}
th, td {word-break:break-all; line-height:150%; border:0px;}
fieldset {border:0px;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address {font-style:normal;}
blockquote, q { quotes: none; }
hr { display: none; }
a {display: inline-block; text-decoration:none; color:#000; outline: none;}
i,em{font-style: normal;}
input{ vertical-align:middle; font-family: "Noto Sans KR",sans-serif,"돋움","Dotum";}
input:focus,button:focus{outline: none;}
legend {display:none;}
input[type="checkbox"],input[type="radio"]{display: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type="text"]::placeholder,input[type="password"]::placeholder{color: #9c9c9c;}
table caption{position: absolute; left:-9999px; font-size: 0; height: 1px; width:1px; line-height: 0; text-indent: -9999px;}
form {position:relative}
button {display:inline-block; zoom:1; position:relative; overflow:visible; margin:0px; padding:0px; border:0px; font-family: "Noto Sans KR",sans-serif;background:transparent; font-weight: 500; cursor:pointer; vertical-align:middle;}
textarea{resize: none;}
.legend,.blind{position: absolute; left:-9999px; font-size: 0; height: 1px; width:1px; line-height: 0; text-indent: -9999px;}
.clearfix:after{display: block; content:""; clear: both;}

/*공통 버튼*/
.btn_perv{position: absolute; top:0; left:1.2rem; width:1.4rem; height:100%; background: url("../../images/common/ico_header_arr.png") no-repeat 0 1.5rem; background-size: 100%; }
/*확인 팝업*/
.layer_confirm{position: absolute; top:50%; left:50%; margin-left: -40%; transform: translateY(-50%); background-color: #fff; border-radius: .3rem; z-index: 110;}
.layer_confirm .layer_inner{position: relative; width:80vw; height: 17.5rem; padding-top:20%; text-align: center;}
.layer_confirm .btn_submit{position: absolute; width:100%; bottom:0; left:0; line-height: 4; font-size: 1.1rem; color: #fff;}
.layer_confirm .btn_submit .btn{line-height: 4; font-size: 1.1rem;}
.layer_alarm{position: fixed; width:80%; left:50%; bottom:8%; margin-left: -40%; line-height: 3.2; color: #fff; border-radius: 3rem; z-index: 105; background-color: rgba(0,0,0,.7); text-align: center;}

.wrapper.type{height: 100%;}
.wrapper{position: relative; width:100%; height: calc(100% - 3.6rem);}
.container_inner{padding-bottom: 7rem;}
.main_container .intro{padding-top:5.6rem; margin-bottom: 1.4em; font-size: 2rem; font-weight: 500; color: #646464; text-align: center;}
.main_container .intro strong{display: block; font-size: 2rem; font-weight: 500; color: #1e1e1e;}
.main_container .intro .logo{width: 10.2rem; margin:0 auto 3rem;}
.search_input_area{width: 96vw; margin:0 auto 3rem; padding-bottom:.5rem;}
.search_input_area .search_box{position: relative; width:100%; height: 5.5rem; padding-left:4em; font-size: 1.3rem; color: #5f5f5f; background-color: #fff; border: 1px solid #ccc; border-radius: 5rem; box-shadow:3px 4px 3px -2px #d6d6d6; text-align: left;}
.search_input_area .search_box:before{content: ""; position: absolute; top:1.9rem; left:2.8rem; width:2.2rem; height: 2.4rem; background:url("../../images/main/bg_search.png") no-repeat 0 0; background-size: 100%;}
.main_container .main_cont{width: 96vw; margin:0 auto 3rem; border:1px solid #ccc; border-radius: .5rem;}
.main_cont .content{padding: 1.4rem 6.4rem 1.2rem 1.2rem; line-height: 1.8; font-size: 1.2rem; font-weight: 500; color: #373737; background:url("../../images/main/bg_event.png") no-repeat 98% 2.3rem; background-size: 7.2rem;}
.main_cont .content.company_intro{background:url("../../images/main/bg_company_intro.png") no-repeat 98% 1rem; background-size: 7rem;}
.main_cont .content .txt_red{font-size: 1.2rem;}
.main_cont .content .tit{margin-bottom: .3em; font-size: 1.4rem; font-weight: 700; color: #0ec4bf;}
.main_cont .content .tit.type{color: #1e1e1e;}
.main_cont .link_box{padding:1.2rem; background-color: #fafafa; border-top:1px solid #ccc; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.main_cont .link_box a{font-size: 1.3rem; font-weight: 700;}
/*checkbox*/
.checkbox +label{font-size: 1.2rem; font-weight: 700; }
.checkbox +label:before{display: inline-block; content:""; width:2.2rem; height: 2.2rem; margin-right:.6rem; border:2px solid #ccc; border-radius: .3rem; vertical-align: -6px; box-sizing: border-box;}
.checkbox:checked +label:before{border:none; background: url("../../images/common/bg_check.png") #378cff no-repeat center; background-size: 72%;}
.checkbox[disabled] +label:before{background-color: #ccc;}

.splash{position:relative; width:100%; padding-bottom: 100%; height: auto; font-size: 1.5rem; color:#0ec4bf; overflow: hidden;}
.splash .inner{padding-top:50%; text-align: center; transform: translateY(36%);}
.splash .logo{position: fixed; bottom:3.8rem; left:50%; margin-left: -10%; width:6.2rem; height:1.3rem; }

/*sub header*/
.sub_header{position: fixed; top:0; left:0; width:100%; background-color:#fff; z-index: 100; }
.sub_header .header_inner{position: relative; line-height: 3; border-bottom: 1px solid #ccc; text-align: center;}
.sub_header .tit{ font-size: 1.5rem; font-weight: 700; color: #1e1e1e; }
.sub_container{padding-top:4.4rem;}
.sub_container.type{margin-top:12%;}
.sub_container.type_pd0{padding-top:0;}
/*footer*/
#footer_nav_section{padding:1rem 0 .8rem 0; background-color: #f9fcff; border-top:1px solid #ccc; z-index: 9999;}
#footer_nav ul:after{display: block; content:""; clear: both;}
#footer_nav li{float: left; width:20%; text-align: center;}
#footer_nav li:first-child a{width: 2.2rem; background-image: url("../../images/common/footer_navi/footer_home.png");}
#footer_nav li:nth-child(2) a{width:1.8rem; background-image: url("../../images/common/footer_navi/footer_map.png");}
#footer_nav li:nth-child(3) a{width:3.7rem; background-image: url("../../images/common/footer_navi/footer_state.png");}
#footer_nav li:nth-child(4) a{width:1.8rem; background-image: url("../../images/common/footer_navi/footer_alarm.png");}
#footer_nav li:nth-child(5) a{width:2.5rem; background-image: url("../../images/common/footer_navi/footer_more.png");}
#footer_nav li:first-child.on a{background-image: url("../../images/common/footer_navi/footer_home_on.png");}
#footer_nav li:nth-child(2).on a{background-image: url("../../images/common/footer_navi/footer_map_on.png");}
#footer_nav li:nth-child(3).on a{background-image: url("../../images/common/footer_navi/footer_state_on.png");}
#footer_nav li:nth-child(4).on a{background-image: url("../../images/common/footer_navi/footer_alarm_on.png");}
#footer_nav li:nth-child(5).on a{background-image: url("../../images/common/footer_navi/footer_more_on.png");}

#footer_nav li a{position: relative; width:100%; height: 2.8rem; background-size:82%; background-repeat: no-repeat;}
#footer_nav li a .ico_alarm{position: absolute; top:0; right:-.5rem; width:1.5rem; height:1.5rem; font-size: .9rem; color: #fff; background-color: #f15544; border-radius: 50%;}

/*회원가입*/
.pop_container .logo{width: 10.2rem; margin:0 auto 5rem;}
.member_login{position: relative; padding-top:5rem;}
.member_login .logo{padding-top:1.2rem;}
.member_login .tit{margin-bottom: 4.7rem; font-size: 2.2rem; font-weight: 700; color: #9c9c9c; text-align: center;}
.member_login .close{position: absolute; top:1.7rem; right:1.2rem; width:1.4rem; height:1.4rem; background:url("../../images/common/close.png") no-repeat; background-size:100%;}
.member_box{width:96vw; margin:0 auto 2.4rem;}
.member_box .member_form{position: relative; }
.member_form .member_input{width:100%; line-height: 3.9; padding:0 4.2rem 0 .8rem; font-size: 1.2rem;}
.member_box .login_form{margin-bottom: .5rem; }
.member_box .login_form .member_input{border:1px solid #ccc; border-radius: .3rem;}
.member_box .member_sch{width:100%; color: #646464; text-align: right;}
.login_btn_area{width:96vw; margin:0 auto 1.6rem;}
.login_btn_area .btn{line-height: 3.8; width:49%; font-weight: 700; border-radius: .3rem;}
.login_btn_area .btn_login{width:100%; margin-bottom: .8rem; color: #fff; background-color: #ff6161;}
.login_btn_area .btn_kakao{float: left; color: #3c3c3c; background-color: #f7e506;}
.login_btn_area .btn_email{float: right; color: #fff; background-color: #0070c0;}
.member_login .member_desc{font-size: 1.1rem; text-align: center;}
.member_form .delete{display: none; position: absolute; top:1.7rem; right:1.4rem; width:1.3rem; height:1.3rem; background:url("../../images/common/close.png") no-repeat; background-size:100%;}
.member_box .form_area .member_input{border: 1px solid #ccc; border-top:none;}
.member_box .form_area label:first-of-type .member_input{border-top:1px solid #ccc; border-top-right-radius: .3rem; border-top-left-radius: .3rem;}
.member_box .form_area.join label:last-of-type .member_input{border-bottom-right-radius: .3rem; border-bottom-left-radius: .3rem;}
.member_box .member_info{line-height: 3.9; padding:0 4.2rem 0 .8rem; font-size: 1.2rem; background-color: #fffbfb; border:1px solid #ccc; border-top:none; border-bottom-left-radius: .3rem; border-bottom-right-radius: .3rem;}

.member_login .agree_box{width:96vw; margin:0 auto; border:1px solid #ccc; border-radius: .3rem;}
.member_login .agree_box li{position: relative; padding:0 .8rem; line-height: 4; color: #3c3c3c; border-top:1px solid #ccc;}
.member_login .agree_box li em{position: relative;}
.member_login .agree_box li em:after{display: block; content:""; position: absolute; bottom:-.4rem; left:0; width:100%; height:.1rem; background-color: #3c3c3c;}
.member_login .agree_box li:first-child{border-top:none;}
.member_login .agree_box .all_agree{padding:0 .8rem; line-height: 4; border-top:1px solid #ccc; background-color: #fafafa; border-bottom-left-radius: .3rem; border-bottom-right-radius: .3rem;}
.member_login .agree_box .all_agree em{color: #3c3c3c;}
.member_login .agree_box .label_btn+label:before{right:.4rem;}