@charset "utf-8";

.content_head.type1 .tit{margin-left: 1rem; margin-bottom: 1rem; font-size: 1.5rem; font-weight: 700; color:#000;}
.txt_red{color:#f15544}
.txt_blue{color:#378cff;}
.link_style{display: inline-block; padding-right: 1.2rem; font-weight: 500; color: #378cff; background:url("../../images/common/arr_link.png") no-repeat right; background-size: 7%;}

/*슬라이드*/
.slide_area{margin-bottom: 3rem;}
.slide_items .item{margin-left: 1rem;}
.slide_items .info{line-height: 1.8;}
.slide_items .img_area{display: inline-block; margin-bottom: 0.4rem;}
.slide_items .info .tit{display: block; font-size:1.4rem; font-weight: 500; color: #000;}
.slide_items .info .desc{font-size: 1.1rem; color: #373737;}

@media screen and (min-width: 320px) and (max-width: 359px){
    html{font-size: 9px;}
  }
@media only screen and (min-width: 376px) and (max-width: 767px){ 
    html{font-size: 11px;}
}

@media only screen and (min-width:768px){ 
html{font-size: 20px;}
}